:root {
  font-family: 'Noto Sans', sans-serif;
}

body{
  margin: 0;
  padding: 0;
}

#main{
  min-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
#feed{
  flex: 1;
  border-width: 0px 2px;
  border-style: solid;
  border-color: #000000;
  max-width: 600px;
  padding: 10px;
  min-height: 100vh;
  box-sizing: border-box;
  background-color: #F4C3A4;
}
nav{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
nav > a{
  display: block;
  width: 310px;
  text-decoration: none;
  color: black;
  font-size: 24px;
  display: flex;
  align-items: center;
  padding: 30px;
}

nav > a:hover{
  font-weight: 700;
}

nav > a > img{
  padding-right: 30px;
}