:root {
  font-family: "Noto Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}
label {
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 10px;
  width: 300px;
}
input[type="text"] {
  width: 300px;
  height: 30px;
  font-size: 18px;
  padding: 5px;
  margin-bottom: 10px;
}
button {
  background-color: beige;
  border: 2px black solid;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: white;
}

#main {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
#feed {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-width: 0px 2px;
  border-style: solid;
  border-color: #000000;
  max-width: 700px;
  padding: 10px;
  min-height: 100vh;
  max-height: 100vh;
  box-sizing: border-box;
  background-color: #f4c3a4;
  overflow-y: auto;
}
nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: white;
}
nav > a {
  display: block;
  width: 310px;
  text-decoration: none;
  color: black;
  font-size: 24px;
  display: flex;
  align-items: center;
  padding: 30px;
}

nav > a:hover {
  font-weight: 700;
}

nav > a > img {
  padding-right: 30px;
}
#post {
  max-width: 576px;
  min-height: 320px;
  border-width: 2px 0px 2px 0px;
  border-color: #000000;
  border-style: solid;
  display: flex;
  flex-direction: column;
}
#post > h1,
h2,
h3 {
  margin-top: 0;
}
#post > h1 {
  margin-bottom: 10px;
}
#post > h2,
h3 {
  margin: auto;
  padding-bottom: 5px;
}
#songs-box {
  overflow-y: scroll;
  padding-bottom: 10px;
}
#songs-box > div {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
}
h4 {
  margin: 0;
  padding-right: 5px;
}
#bottom-bar {
  padding: 5px;
}
#link-button {
  float: left;
}
#like-button {
  float: right;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}
#like-button > p {
  margin-right: 10px;
}
#create-playlist {
  display: flex;
  flex-direction: column;
}
#playlist-control {
  display: flex;
}
#playlist-control > button {
  margin-top: 10px;
  margin-left: 10px;
}
#search-songs {
  display: flex;
  flex-direction: column;
}
#search-songs:focus-within .dropdown {
  display: block;
}
.dropdown {
  display: none;
  height: auto;
  position: absolute;
  top: 210px;
  width: 300px;
  background-color: beige;
  font-size: 16px;
}
.dropdown p {
  margin: 0;
  padding: 5px;
}
.dropdown p:hover {
  cursor: pointer;
  background-color: #b99279;
}

@media (max-width: 700px) {
  #main {
    flex-direction: column-reverse;
  }
  #feed {
    width: 100%;
    border: none;
    overflow-y: auto;
  }
  nav {
    flex-direction: row;
    position: fixed;
    bottom: 0;
    width: 100%;
    justify-content: space-around;
  }
  nav > a {
    font-size: 0;
    width: auto;
    border-style: none;
    padding: 20px;
  }
  nav > a > img {
    padding-right: 0;
    width: 40px;
    height: 40px;
  }
}
